<div class="row">
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
    <hr>
    <div id="app"></div>
    <script type="application/javascript" src="http://localhost:3001/dist/chartDemo.bundle.js"></script>
</div>

<%- contentFor('scripts') %>