<div class="row tile_count">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Task <small>-</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="app"></div>
                <script type="application/javascript" src="http://localhost:3001/dist/taskEditor.bundle.js"></script>
            </div>
        </div>
    </div>
</div>

<%- contentFor('scripts') %>